body{
     background-color: rgb(2, 0, 0);
     color: rgb(192, 192, 192);
     font-family: Arial, Helvetica, sans-serif;
     max-width: 1200px; 
     margin: 0 auto ;
     padding: 15px;
     background-position: 150px;
     }

     header{ 
     display: flex;
     flex-direction: row;
     justify-content:space-between ;
     align-items: center;

     }

     #title{
        flex-direction: column;
        line-height: 10px;
        color: brown;
     }

     a{
      color: white;
     }

     a:hover{
      color: rgb(255, 115, 0);
      transition:0.5s all;

     }
     #Inscreva-se-btn{
      border: 2px solid rgb(255, 115, 0);
      padding: 10px;
      border-radius: 20px;

     }
     #Inscreva-se-btn:hover{
      background-color: rgb(255, 115, 0);
      color:white
      

     }
     li{
      display: inline-block;
      margin: 20px;
     }
     
     h1{
        font-weight: 150;
        color: rgb(255, 115, 0)
     }
      main{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
      }

      h2{
        font-size: 60px;
        color: rgb(72, 255, 0);
        line-height: 39px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      span{
        color:rgb(255, 115, 0);
      }

      p{
        list-style: 20px;
        max-width: 500px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
      img{
        width: 580px;
      }
      form{
        display: flex;
        flex-direction: column;
        width: 50%;

      }
      form [type="submit"]{
        height: 50px;
        width: 50%;
        background-color: rgb(255, 115, 0);
        color:white;
        font-weight:bold;


      }
      form [type="submit"]:hover{
       cursor: pointer;
       background-color: rgb(72, 255, 0);
      }
      
      
      input{
        margin-top: 20px;
        height: 20px;
        padding: 15px;
        border-radius: 30px;
        border: none;
        font-size: 15px;
      }
      h4{
        text-align: center:
        padding: 10px;
        font-size: 10px;
       }
        
